<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Charts.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.CodeParser" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Data" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Data.Desktop" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.DataAccess" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.DataVisualization.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Diagram.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Drawing" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Gauges.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Images" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Map.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Mvvm" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Office.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Pdf.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Pdf.Drawing" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.PivotGrid.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Printing.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Reporting.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Export" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Scaffolding.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Scaffolding.EFCore" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Scheduler.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Scheduler.CoreDesktop" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Sparkline.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.SpellChecker.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Spreadsheet.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.TreeMap.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Utils" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Win" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Win.Dialogs.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Win.Grid" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Win.Navigation" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Win.PivotGrid" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Win.Printing" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Win.Scheduler" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Win.SchedulerReporting" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Win.TreeList" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Win.VerticalGrid" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Accordion" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Carousel" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Charts" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Controls" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Core.Extensions" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Diagram" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Dialogs" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Docking" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.DocumentViewer.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.ExpressionEditor" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Gantt" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Gauges" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Grid" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Grid.Core" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Grid.Printing" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.LayoutControl" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Map" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.NavBar" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Office" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.PdfViewer" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.PivotGrid" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Printing" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.PrismAdapters" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.PropertyGrid" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Reporting" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Ribbon" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.RichEdit" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Scheduling" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.SchedulingReporting" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.SpellChecker" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Spreadsheet" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2019Colorful" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.TreeMap" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Wpf.TypedStyles" version="24.2.3" targetFramework="net48" />
  <package id="DevExpress.Xpo" version="24.2.3" targetFramework="net48" />
  <package id="FileHelpers" version="3.5.2" targetFramework="net48" />
  <package id="NPOI" version="2.5.5" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="SharpZipLib" version="1.3.2" targetFramework="net48" />
</packages>